<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Horarios</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServCerrarSesion</display-name>
    <servlet-name>ServCerrarSesion</servlet-name>
    <servlet-class>control.ServCerrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServCerrarSesion</servlet-name>
    <url-pattern>/ServCerrarSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServUsuarioAcceso</display-name>
    <servlet-name>ServUsuarioAcceso</servlet-name>
    <servlet-class>control.ServUsuarioAcceso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServUsuarioAcceso</servlet-name>
    <url-pattern>/ServUsuarioAcceso</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FiltroUsuarioAcceso</display-name>
    <filter-name>FiltroUsuarioAcceso</filter-name>
    <filter-class>filtros.FiltroUsuarioAcceso</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroUsuarioAcceso</filter-name>
    <url-pattern>/ServUsuarioAcceso</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>FiltroUsuarioNueva</display-name>
    <filter-name>FiltroUsuarioNueva</filter-name>
    <filter-class>filtros.FiltroUsuarioNueva</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroUsuarioNueva</filter-name>
    <url-pattern>/ServUsuarioNueva</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ServUsuarioNueva</display-name>
    <servlet-name>ServUsuarioNueva</servlet-name>
    <servlet-class>control.ServUsuarioNueva</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServUsuarioNueva</servlet-name>
    <url-pattern>/ServUsuarioNueva</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServUsuarioFormAlta</display-name>
    <servlet-name>ServUsuarioFormAlta</servlet-name>
    <servlet-class>control.ServUsuarioFormAlta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServUsuarioFormAlta</servlet-name>
    <url-pattern>/ServUsuarioFormAlta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServUsuariosLista</display-name>
    <servlet-name>ServUsuariosLista</servlet-name>
    <servlet-class>control.ServUsuariosLista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServUsuariosLista</servlet-name>
    <url-pattern>/ServUsuariosLista</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServCursosLista</display-name>
    <servlet-name>ServCursosLista</servlet-name>
    <servlet-class>control.ServCursosLista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServCursosLista</servlet-name>
    <url-pattern>/ServCursosLista</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServCursoNuevo</display-name>
    <servlet-name>ServCursoNuevo</servlet-name>
    <servlet-class>control.ServCursoNuevo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServCursoNuevo</servlet-name>
    <url-pattern>/ServCursoNuevo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServCursoMostrar</display-name>
    <servlet-name>ServCursoMostrar</servlet-name>
    <servlet-class>control.ServCursoMostrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServCursoMostrar</servlet-name>
    <url-pattern>/ServCursoMostrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServAsignaturaNueva</display-name>
    <servlet-name>ServAsignaturaNueva</servlet-name>
    <servlet-class>control.ServAsignaturaNueva</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServAsignaturaNueva</servlet-name>
    <url-pattern>/ServAsignaturaNueva</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServUsuarioModif</display-name>
    <servlet-name>ServUsuarioModif</servlet-name>
    <servlet-class>control.ServUsuarioModif</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServUsuarioModif</servlet-name>
    <url-pattern>/ServUsuarioModif</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FiltroUsuarioModif</display-name>
    <filter-name>FiltroUsuarioModif</filter-name>
    <filter-class>filtros.FiltroUsuarioModif</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroUsuarioModif</filter-name>
    <url-pattern>/ServUsuarioModif</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ServUsuarioModLista</display-name>
    <servlet-name>ServUsuarioModLista</servlet-name>
    <servlet-class>control.ServUsuarioModLista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServUsuarioModLista</servlet-name>
    <url-pattern>/ServUsuarioModLista</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServUsuarioEliminar</display-name>
    <servlet-name>ServUsuarioEliminar</servlet-name>
    <servlet-class>control.ServUsuarioEliminar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServUsuarioEliminar</servlet-name>
    <url-pattern>/ServUsuarioEliminar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServCursoEliminar</display-name>
    <servlet-name>ServCursoEliminar</servlet-name>
    <servlet-class>control.ServCursoEliminar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServCursoEliminar</servlet-name>
    <url-pattern>/ServCursoEliminar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServHorarioCrear</display-name>
    <servlet-name>ServHorarioCrear</servlet-name>
    <servlet-class>control.ServHorarioCrear</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServHorarioCrear</servlet-name>
    <url-pattern>/ServHorarioCrear</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServHorarioTratar</display-name>
    <servlet-name>ServHorarioTratar</servlet-name>
    <servlet-class>control.ServHorarioTratar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServHorarioTratar</servlet-name>
    <url-pattern>/ServHorarioTratar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServHorarioInicio</display-name>
    <servlet-name>ServHorarioInicio</servlet-name>
    <servlet-class>control.ServHorarioInicio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServHorarioInicio</servlet-name>
    <url-pattern>/ServHorarioInicio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServAsignaturaModif</display-name>
    <servlet-name>ServAsignaturaModif</servlet-name>
    <servlet-class>control.ServAsignaturaModif</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServAsignaturaModif</servlet-name>
    <url-pattern>/ServAsignaturaModif</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServCursoModif</display-name>
    <servlet-name>ServCursoModif</servlet-name>
    <servlet-class>control.ServCursoModif</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServCursoModif</servlet-name>
    <url-pattern>/ServCursoModif</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServHorarioVer</display-name>
    <servlet-name>ServHorarioVer</servlet-name>
    <servlet-class>control.ServHorarioVer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServHorarioVer</servlet-name>
    <url-pattern>/ServHorarioVer</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FiltroHorario</display-name>
    <filter-name>FiltroHorario</filter-name>
    <filter-class>filtros.FiltroHorario</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroHorario</filter-name>
    <url-pattern>/ServHorarioCrear</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ServHorariosLista</display-name>
    <servlet-name>ServHorariosLista</servlet-name>
    <servlet-class>control.ServHorariosLista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServHorariosLista</servlet-name>
    <url-pattern>/ServHorariosLista</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FiltroHorariosLista</display-name>
    <filter-name>FiltroHorariosLista</filter-name>
    <filter-class>filtros.FiltroHorariosLista</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroHorariosLista</filter-name>
    <url-pattern>/ServHorariosLista</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ServHorarioEliminar</display-name>
    <servlet-name>ServHorarioEliminar</servlet-name>
    <servlet-class>control.ServHorarioEliminar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServHorarioEliminar</servlet-name>
    <url-pattern>/ServHorarioEliminar</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FiltroZonaAlumno</display-name>
    <filter-name>FiltroZonaAlumno</filter-name>
    <filter-class>filtros.FiltroZonaAlumno</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroZonaAlumno</filter-name>
    <url-pattern>/ServHorarioLista</url-pattern>
    <url-pattern>/ServHorarioCrear</url-pattern>
    <url-pattern>/ServCerrarSesion</url-pattern>
    <url-pattern>/zonaPrivada/noPermisoAcceso.jsp</url-pattern>
    <url-pattern>/zonaPrivada/inicioPrivado.jsp</url-pattern>
    <url-pattern>/zonaPrivada/horariosLista.jsp</url-pattern>
    <url-pattern>/zonaPrivada/horarioTratar.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>FiltroZonaProfesor</display-name>
    <filter-name>FiltroZonaProfesor</filter-name>
    <filter-class>filtros.FiltroZonaProfesor</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroZonaProfesor</filter-name>
    <url-pattern>/ServUsuarioEliminar</url-pattern>
    <url-pattern>/ServUsuarioModif</url-pattern>
    <url-pattern>/ServUsuariosLista</url-pattern>
    <url-pattern>/ServUsuarioModLista</url-pattern>
    <url-pattern>/ServUsuarioFormAlta</url-pattern>
    <url-pattern>/ServUsuarioNueva</url-pattern>
    <url-pattern>/ServAsignaturaProfesor</url-pattern>
    <url-pattern>/zonaPrivada/usuarioEliminar.jsp</url-pattern>
    <url-pattern>/zonaPrivada/usuarioModif.jsp</url-pattern>
    <url-pattern>/zonaPrivada/usuarioNuevo.jsp</url-pattern>
    <url-pattern>/zonaPrivada/usuariosLista.jsp</url-pattern>
    <url-pattern>/zonaPrivada/asignaturaProfesor.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>FiltroZonaAdmin</display-name>
    <filter-name>FiltroZonaAdmin</filter-name>
    <filter-class>filtros.FiltroZonaAdmin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroZonaAdmin</filter-name>
    <url-pattern>/ServAsignaturaModif</url-pattern>
    <url-pattern>/ServAsignaturaNueva</url-pattern>
    <url-pattern>/ServCursoEliminar</url-pattern>
    <url-pattern>/ServCursoModif</url-pattern>
    <url-pattern>/ServCursoMostrar</url-pattern>
    <url-pattern>/ServCursoNuevo</url-pattern>
    <url-pattern>/ServCursosLista</url-pattern>
    <url-pattern>/ServHorarioEliminar</url-pattern>
    <url-pattern>/ServHorarioInicio</url-pattern>
    <url-pattern>/ServHorarioTratar</url-pattern>
    <url-pattern>/zonaPrivada/cursoNuevo.jsp</url-pattern>
    <url-pattern>/zonaPrivada/cursoEliminar.jsp</url-pattern>
    <url-pattern>/zonaPrivada/cursoMostrar.jsp</url-pattern>
    <url-pattern>/zonaPrivada/cursoNuevo.jsp</url-pattern>
    <url-pattern>/zonaPrivada/cursosLista.jsp</url-pattern>
    <url-pattern>/zonaPrivada/horarioEliminar.jsp</url-pattern>
    <url-pattern>/zonaPrivada/horarioNuevo.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>FiltroZonaPrivada</display-name>
    <filter-name>FiltroZonaPrivada</filter-name>
    <filter-class>filtros.FiltroZonaPrivada</filter-class>
  </filter>
  <servlet>
    <description></description>
    <display-name>ServAsignaturaProfesor</display-name>
    <servlet-name>ServAsignaturaProfesor</servlet-name>
    <servlet-class>control.ServAsignaturaProfesor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServAsignaturaProfesor</servlet-name>
    <url-pattern>/ServAsignaturaProfesor</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FiltroCursoModif</display-name>
    <filter-name>FiltroCursoModif</filter-name>
    <filter-class>filtros.FiltroCursoModif</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroCursoModif</filter-name>
    <url-pattern>/ServCursoModif</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>FiltroCursoNuevo</display-name>
    <filter-name>FiltroCursoNuevo</filter-name>
    <filter-class>filtros.FiltroCursoNuevo</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroCursoNuevo</filter-name>
    <url-pattern>/ServCursoNuevo</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>FiltroAsignaturaModif</display-name>
    <filter-name>FiltroAsignaturaModif</filter-name>
    <filter-class>filtros.FiltroAsignaturaModif</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroAsignaturaModif</filter-name>
    <url-pattern>/ServAsignaturaModif</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>FiltroAsignaturaNueva</display-name>
    <filter-name>FiltroAsignaturaNueva</filter-name>
    <filter-class>filtros.FiltroAsignaturaNueva</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroAsignaturaNueva</filter-name>
    <url-pattern>/ServAsignaturaNueva</url-pattern>
  </filter-mapping>
</web-app>